name: CD docker

on:
  workflow_run:
    workflows: ['CI docker']
    types:
      - completed

jobs:
  starts:
    runs-on: self-hosted

    steps:
      - name: Dừng container cũ
        run: sudo docker container stop con-cyber_community

      - name: Xoá container cũ
        run: sudo docker container remove con-cyber_community

      - name: Xoá image cũ
        run: sudo docker image remove vulebaolong/img-cyber_community:latest

      - name: Kéo và chạy lại image trên docker hub
        run: docker compose up -d
